.all_page_footer {
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.all_page_footer {
    background-color: var(--body_background);
    color: var(--body_color);
}