.all_text_img_background {
    width: 100%;
    background-image: url(../../assets/background-black-turquoise.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-around;
}

.just_text_and_phone {
    color: white;
    width: 50%;
    margin-left: 7%;
}


.just_text_and_phone h2 {
    border-left: 10px solid turquoise;
}
.download_cv {
    background-color: turquoise;
    width: 30%;
    
    border-radius: 10px;
    padding: 2%;
}

.phone_and_mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    
}

.card {
    background-color: #242424;
    border-radius: 10px;
    padding: 4%;
}

.inside_card {
    display: flex;    
    align-items: center;
    flex-direction: column;
}
.image_page_about {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.image_page_about img {
    width: 50%;
}

.all_text_img_background h2 {
    animation-duration: 1s;
    animation-name: slideupabout; 
    animation-timing-function: linear;
}

    @keyframes slideupabout {
 
        from {
          margin-left:200%;
          width:100%
        }
      
        to {
          
          width:25%;
          
        }
}

.all_text_img_background h3 {
    animation-duration: 1s;
    animation-name: slideupabout; 
    animation-timing-function: linear;
}

    @keyframes slideupabout {
 
        from {
          margin-left:200%;
          width:100%
        }
      
        to {
          
          width:25%;
          
        }
}