.all_page_contact {
    width: 100%;
    background-image: url(../../assets/background-black-turquoise.png);
    background-size: cover;
}

.all_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.all_cards {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 45%;
}

.card_contact {
    background-color: turquoise;
    border-radius: 25px 25px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contact_us {
    border-radius: 20px;
    background-color: #242424;
}
.contact_us h1 {
    border-left: 10px solid turquoise;
    color: white;
}

.all_input {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.all_inside_cardcontact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fa-icon-contact{
    padding: 3%;

}
 .how_contact {
    padding: 3%;
 }

 .mail_contact {
    padding: 3%;
 }
 .phone_contact{
    padding: 3%;
 }

 .all_icon_contact {
    padding: 3%;
 }