.home {
    display: flex; 
    flex-direction: column;
}

.header_and_alltext {
  display: flex; 
    flex-direction: row;
}
/*

*/
.home .SelimDev-header {
    animation-duration: 1s;
    animation-name: slideup;
    }    
    @keyframes slideup {
 
        from {
          margin-top:200%;
          width:100%
        }
      
        to {
          margin-top:0%;
          width:25%;
        }
    
}

.background_and_text {
    background-image: url(../../assets/background-img-home_2.jpg) ;
    width: 100%;
    background-size: cover;
    display: flex;
    background-position: top;
}
/*
.background_and_text img {
    width: 100%;
    background-size: cover;
    z-index: -1;
    
}*/
.all_text_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    /*background-color: #3498db;*/
    font-size: 45px ;
    /*
    position: relative;
    bottom: 50%;*/
    
}

.all_frontend_dev {
    display: flex;
    align-items: center;
    margin: 1%;
}
.hello {
    font-size: 45px ;
    margin: 1%;
}
.my_name_is {
    font-size: 65px;
    margin: 1%;
}

.frontend_dev {
    color: turquoise;
    font-size: 55px;
    animation: blink 4s normal linear;

}
@keyframes blink {
    0% {
      opacity: 1;
      
    }
    20%{
        opacity: 0.5;
    }
    40% {
        opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .hire_me {
    margin: 1%;
  }
  
  .hire_me .return_contact {
    border-radius: 25px;
    background-color: #40e0d0;
    font-size: 25px ;
    padding: 15px 25px;
    cursor: pointer;
    text-shadow: 1px 4px 4px rgba(0,0,0,0.51);
  }

  .hire_me .return_contact:hover {
    color: black;
  }

  



 
